@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
*{
    font-family: 'Kalam', cursive;
}

.dropdown-btn{
    background-color: transparent;
    border: 0;
    font-size: 1.3em;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 30px;
    transition: all .6s ease-in-out;
    color:rgb(208, 203, 203);
}
.dropdown-btn:hover{
    color: rgb(253, 248, 248);
    text-shadow: 0 0 1.3em #d7d4c1;
}

.dropdown-menu{
    background-color:rgb(26, 25, 25);
    position: fixed;
    margin-top: 5px;
    padding: 0 20px;
    border-radius: 8px;
    width: 150px;
    color:rgb(208, 203, 203);
}

.dropdown-menu li{
    font-size: 1em;
    list-style-type: none;
    margin: 10px 10px;
    color:rgb(208, 203, 203);
    font-weight: bolder;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 .4em rgb(208, 203, 203);
    text-align: center;
}
.dropdown-menu li:hover{
    transform: scale(1.1);
    color:  rgb(208, 203, 203);
}

.btn-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}
.btn-profile > span{
    font-size: .8em;
    color: rgb(208, 203, 203);
}