.modal-exclusao{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 0 1em black;
    width: 180px;
    padding: 20px;
    display: none;
}
.modal-exclusao > span{
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    
}
.modal-exclusao-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.modal-exclusao-btns > button{
    border: none;
    border-radius: 8px;
    padding: 7px 10px;
    cursor: pointer;
}
.modal-exclusao-btns > button:nth-child(1){
    background-color: red;
    color: white;
}
.modal-exclusao-btns > button:nth-child(2){
    color: black;
    font-weight: bolder;
}