body {
    margin: 0;
    padding: 0;
    background: rgb(34,25,25);
    background: linear-gradient(145deg, rgba(34,25,25,1) 68%, rgba(79,72,35,1) 100%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
    width: 100%;
  }
  
